form {
  padding: 40px;
  font-size: larger;
  text-align: center;
}

.searchButton,
.currentButton {
  background-color: #a2a8d3;
  color: white;
  border-color: transparent;
}

.searchButton:hover {
  cursor: pointer;
  color: #a2a8d3;
  background-color: white;
  border-color: #a2a8d3;
}

.currentButton:hover {
  cursor: pointer;
  color: #a2a8d3;
  background-color: white;
  border-color: #a2a8d3;
}

#current-date {
  text-align: center;
  font-size: 20px;
  margin-top: 20px;
}

.weatherReport {
  font-size: 30px;
  padding: 20px;
}

#current-temp {
  font-size: 60px;
}

p {
  font-size: 25px;
  margin: 30px;
  padding: 15px;
  text-align: center;
}

.list-group {
  font-size: 25px;
  display: grid;
  justify-content: center;
}

.container {
  font-family: "Poppins", sans-serif;
}

.currentTemp {
  font-size: 50px;
  font-weight: 600;
}

footer {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  text-align: center;
  padding: 40px;
}
